:root {
  --alighn: center;
  --color: #bb5a5a;
  --font: "Nanum Gothic", sans-serif;
}

body {
  background-color: #fff2e5;
}

.greet {
  font-size: 45px;
  text-align: var(--alighn);
  margin: 0;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  font-family: var(--font);
}

#main-info .name {
  font-size: 80px;
  text-align: var(--alighn);
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
  font-family: var(--font);
}

.position {
  text-align: var(--alighn);
  display: flex;
  justify-content: space-evenly;
  font-size: 23px;
  font-weight: bolder;
  opacity: 70%;

  margin-bottom: 40px;
  font-family: var(--font);
  color: var(--color);
}

span {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-family: var(--font);
}

#contact {
  background-color: var(--color);
  text-decoration: none;
  color: #fff2e5;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: var(--font);
}

#about {
  color: var(--color);
  border-color: var(--color);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  padding: 20px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font);
}

a {
  font-family: var(--font);
}

#main-info {
  margin: 25px;
}

.land {
  border-radius: 20px;
}

.container img {
  max-width: 100%;
  margin: 15px;
  margin-top: 40px;
  padding: 10px;
  background-color: #fff2e5;
}

.landing-page {
  margin-left: 30px;
  border-style: solid;
  border-radius: 10px;
  border-color: #fff2e5;
  padding: 15px;
  padding-bottom: 30px;
  transition: all 200ms ease-in-out;
}

.landing-page:hover {
  background-color: #fff2e5;
}

.info,
.land-decription {
  font-family: var(--font);
  color: var(--color);
}

.info {
  text-align: center;
}

nav {
  margin: 0 auto;
}

.greet,
.name {
  display: flex;
}
